@import "@/components/style.scss";
@import "~@jswork/react-github-corner/dist/style.scss";
@import "~@jswork/react-sw-update-tips/dist/style.scss";
@import "~@jswork/react-demokit/dist/style.scss";

@import "~@jswork/wsui-backdrop";
@import "@/components/style.scss";
* {
  margin: 0;
  padding: 0;
}

.app-container {
  .button {
    position: relative;
    z-index: 10;
    background: #3cc51f;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    border: none;

    &:active {
      background: darken(#3cc51f, 10%);
    }

    &:focus {
      outline: none;
    }
  }
}
